.jumbotron {
    width: 80%;
    margin-left: 10%;
    background: black;
    color: white;
    text-align: center;
}

.panel {
    width: 80%;
    margin-left: 10%;    
}

#heading-css {
    background: #377BB5;
    color: white;  
    font-weight: bold;  
}